# Supabase Configuration
# Replace these with your actual Supabase URL and Anon Key
NEXT_PUBLIC_SUPABASE_URL=https://igklbxroasakiknvwlbj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlna2xieHJvYXNha2lrbnZ3bGJqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTEwNTEwMDMsImV4cCI6MjA2NjYyNzAwM30.Rhrh7dydLCkqfsi6ooae01bGZsRE94Qnb-qilxtLrp8 